/****** General ***/
* {
  font-family: "Raleway", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}
.fa-solid {
  color: black;
}
body {
  display: flex;
  justify-content: center;
}
.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
}
a {
  color: inherit;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-bottom: 0px;
}
header img {
  width: 60px;
  height: 20px;
  flex-shrink: 0;
}
nav .navigation {
  display: flex;
  list-style-type: none;
  gap: 35px;
  font-size: 16px;
  padding-top: 10px;
}
a {
  text-decoration: none;
}
.navigation a:hover {
  padding-top: 20px;
  border-top: 2px solid var(--main-color);
}
.en-tete {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 280px;
  gap: 10px;
}
.en-tete h1 {
  font-size: 22px;
  font-weight: 700;
}
.en-tete p {
  font-size: 16px;
  font-weight: 400;
}
.section_recherche {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  margin-top: 25px;
  border-radius: 15px;
}
.section_recherche .localisateur-dot {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: var(--main-bg-color);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  align-items: center;
  justify-content: center;
  border: solid var(--main-bg-color);
}
.champs-ville {
  font-size: 18px;
  height: 50px;
  border: solid var(--main-bg-color);
  font-weight: 700;
  text-align: center;
}
.bouton-recherche {
  background-color: #0065fc;
  height: 50px;
  color: #f2f2f2;
  font-size: 18px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: 700;
}
.bouton-recherche .loupe {
  display: none;
}
.les-filtres {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
  height: 55px;
  width: 100%;
}
.les-filtres h2 {
  font-size: 18px;
  text-align: center;
}
.bouton-filtres {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.clik-bouton {
  display: flex;
  gap: 7px;
  font-weight: 700;
  font-size: 17px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-radius: 25px;
  background-color: white;
  border: 2px solid #d9d9d9;
}
.clik-bouton:hover {
  background-color: #deebff;
}
.clik-bouton .fa-fire,
.fa-heart,
.fa-money-bill-wave,
.fa-person {
  color: #0065fc;
}
.information-importante {
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  margin-top: 10px;
}
.information-importante .fa-info {
  color: #0065fc;
  width: 25px;
  height: 25px;
  border: solid #d9d9d9 1px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  gap: 10px;
}
.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hébergements ***********/
.hebergements .section-title {
  margin-bottom: 30px;
}

/* Container des cartes en GRID */
.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

/* Chaque carte */
.hebergements-cards .card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hebergements-cards .card a {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.fa-star {
  color: #0065fc;
}
.neutral-star {
  color: #d9d9d9;
}
/* Image de la carte */
.hebergements-cards img {
  width: 100%;
  height: 136px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* Contenu de la carte en FLEX */
.hebergements-cards .card-content {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.hebergements-cards .card-title {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 700;
}

.hebergements-cards .card-subtitle {
  margin: 5px 0;
  font-size: 14px;
}

.hebergements-cards .card-rating {
  margin-top: 5px;
}

.hebergements a.show-more {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: inherit;
}
.hebergements .afficher-plus {
  font-weight: 700;
  font-size: 18px;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-chart-line {
  color: #0065fc;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activité ***********/

#activite {
  height: 560px;
  padding-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.orientation_active {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 440px;
  gap: 15px;
}
.card-activite {
  height: 440px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.card-activite img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.title_activite {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 30px;
}
.titre_card {
  font-weight: 700;
  font-size: 16px;
  padding: 20px;
}

/****** Footer ***********/

.bas-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--main-bg-color);
  width: 100%;
  height: 165px;
  gap: 30px;
}
.cadre-bas-page {
  display: flex;
  flex-direction: column;
  height: 140px;
  gap: 15px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 16px;
}
.titre_footer {
  font-weight: 700;
  font-size: 18px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  header {
    width: 100%;
    height: 80px;
  }
  .en-tete {
    width: 100%;
    height: 320px;
    gap: 35px;
  }
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 15px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  #activite {
    width: 100%;
    height: 390px;
    gap: 30px;
    padding-right: 50px;
  }
  .orientation_active {
    width: 100%;
    height: 270px;
    gap: 20px;
  }
  .card-activite {
    height: 270px;
    border-radius: 20px;
  }
  .card-activite img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .titre_card {
    height: 70px;
    gap: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 20px;
    padding-right: 19px;
    padding-bottom: 20px;
    padding-left: 19px;
  }
  .bas-page {
    height: 165px;
    gap: 30px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }

  /* Header */
  header {
    flex-direction: column;
    height: auto;
  }

  header img {
    margin: 30px 0;
  }
  nav {
    width: 100%;
  }
  .navigation {
    width: 100%;
    text-align: center;
  }
  .navigation li {
    width: 50%;
    text-align: center;
  }
  .navigation a:hover {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
  }
  .navigation a {
    display: block;
    padding: 0 0 15px 0;
    border-top: none;
    border-bottom: 2px solid var(--main-bg-color);
    text-align: center;
  }
  .en-tete {
    padding: 20px 20px 0px 20px;
    gap: 25px;
  }
  .en-tete p {
    margin-top: -15px;
  }
  .section_recherche {
    margin-top: -5px;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    border-width: 1px;
  }
  .champs-ville {
    margin-right: -10px;
    width: 100%;
  }
  .bouton-recherche {
    padding-right: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding-left: 15px;
  }
  .bouton-recherche span {
    display: none;
  }
  .bouton-recherche .loupe {
    display: flex;
    color: #f2f2f2;
  }
  .les-filtres {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
  }
  .les-filtres .bouton-filtres {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    gap: 15px;
    width: 100%;
    padding-right: 15px;
    margin-bottom: 50px;
  }
  .clik-bouton {
    font-size: 14px;
    justify-content: center;
    align-items: center;
  }
  .section_info {
    position: relative;
    top: 120px;
  }
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
  }
  .populaires {
    position: relative;
    top: 50px;
  }
  .populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .populaires-cards a {
    width: 100%;
  }
  .populaires-cards .card {
    margin-top: 15px;
  }
  .hebergements-and-populaires .hebergements {
    position: relative;
    top: 50px;
    background-color: white;
  }
  .hebergements-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
  }
  #activite {
    position: relative;
    margin: 0px;
    top: 25px;
    width: 100%;
    height: 965px;
    padding-left: 35px;
  }
  .orientation_active {
    display: flex;
    flex-direction: column;
  }
  .card-activite img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .bas-page {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}
